@import url('https://fonts.googleapis.com/css?family=Acme|Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive;
font-family: 'Acme', sans-serif; */

body, input, select {
  font-family: 'Acme', 'sans-serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="button"], #view_hide_meals, .menu_categories span, #menu_meal_selection p {
  cursor: pointer;
}

input[type="button"] {
  border: none;
  background: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#meals_lists {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

#meals_lists h4 {
  text-align: center;
  margin-bottom: 5px;
}

#meals_lists ul {
  padding: 0;
  margin-bottom: 5px;
}

#meals_lists li {
  list-style: none;
  text-align: center;
}

#meals_lists input {
  color: red;
}

.meals_lists {
  width: 150px;
}

#everything_list {
  color: rgb(73, 121, 255);
}

#meals_lists li, main p, input.add_item {
  font-family: 'Indie Flower', cursive, 'Courier New', Courier, monospace;
}

#meals_lists li:hover, main p:hover, .meals_delete_btns:hover  {
  font-weight: bold;
}

.meals_delete_btns {
  width: 100%;
  text-align: center;
}

#view_hide_meals {
  user-select: none;
}

main {
  width: 600px;
}

#menu_meal_selection {
  display: flex;
}

#menu_meal_selection h4 {
  margin: 5px 0;
}

#menu_meal_selection p {
  margin: 5px 0;
}

#menu, #meal {
  width: 300px;
  user-select: none;
}

#menu {
  background: #fff;
  position: relative;
  border-right: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
}

.menu_categories, #menu p {
  display: flex;
  justify-content: space-between;
}

.menu_categories span, #menu p span { 
  margin: 0 10px;
}

#menu p span {
  color: red;
}

.add_to_menu_form {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.add_item {
  width: 100%;
  font-size: 15px;
  color: blue;
  border: 1px dotted blue;
  text-transform: lowercase;
}

.hide_element {
  display: none;
}

#cancel_add_item {
  width: 8%;
  color: red;
  display: flex; 
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 0px;
  cursor: pointer;
}

#meal {
  padding: 10px;
  background: #fff;
  border-left: 1px solid #000;
  box-sizing: border-box;
}

#meal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#meal_header form {
  border: 1px solid blue;
}

#meal_header input {
  font-size: 16px;
  font-weight: bold;
}

#meal p {
  position: relative;
}

#meal p span {
  position: absolute;
  right: 0px;
}

select {
  width: 170px;
  border: none;
}

#footer {
  margin: 10px 0 15px;
  color: rgb(167, 167, 167);
}
