.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
}

#menu, #meal {
  width: 400px;
  user-select: none;
}

#menu {
  background: yellow;
  position: relative;
}

#menu h4{
  text-transform: uppercase;
}

#menu span {
  padding: 0px 10px;
  position: absolute;
  right: 0;

}

form {
  display: flex;
}

.add_item {
  width: 80%;
  font-size: 15px;
  color: white;
  background: turquoise;
  border: none;
  text-transform: lowercase;
}

.add_btn {
  width: 20%;
}

.hide_input {

  display: none;
}


#meal {
  background: orange;
}
