.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
}

#menu, #mealList {
  width: 400px;
  padding: 
}

#menu {
  background: yellow;
  position: relative;
}

#menu h4{
  text-transform: uppercase;
}

#menu span {
  padding: 0px 10px;
  position: absolute;
  right: 0;
}

#mealList {
  background: orange;
}